<div class="container-fluid">
    <form [formGroup]="formulario" (ngSubmit)="onSubmit()" class="text-white">
        <h4>Iniciar sesion</h4>
        <div class="mb-3">
            <label>Email</label>
            <input type="email" class="form-control" formControlName="email" required/>
        </div>
        <div class="mb-3">
            <label>Password</label>
            <input type="password" class="form-control" formControlName="password" required/>
        </div>
        <input type="submit" value="Enviar" class="btn btn-warning">
    </form>
</div>