h4{
    text-align: center;
    margin: auto;
}
form{
    margin: auto;
    width: 30%;
    padding: 50px;
    border-radius: 10px;
    background-color:#5b385e; 
}
.container-fluid{
    background-color: #dee6ed;
    width:100%; 
    margin:auto;
    padding-bottom: 1000px;
}
.container{
    padding-top: 100px;
}
