<div class="container-fluid">
    <div class="container">
      <form class="row g-3 text-white" [formGroup]="createNewTask"  (ngSubmit)="postTask(task)">
        <h4>Crear una cuenta</h4>
        <div class="col-auto">
          <label for="nameinput" class="col-form-label">Ingrese un correo electronico</label>
          <input class="form-control" formControlName="email">
          <label for="nameinput" class="col-form-label">Ingrese una contraseña</label>
          <input class="form-control" formControlName="password">
        </div>
        <button type="submit" class="btn btn-warning">Crear</button>
      </form> 
    </div>
  </div>