<div class="container-fluid">
    <div class="container">
        <h2>Detalles de la tarea</h2>
        <table class="table">
            <tbody>
                <tr>
                  <th scope="row">Nombre</th>
                  <td>{{task.name}}</td>
                </tr>
                <tr>
                  <th scope="row">Estado</th>
                  @if (task.done == true) {
                    <td [ngClass]="task.done ? 'text-success' : 'text-danger' ">En Proceso</td>
                }@else {
                    <td [ngClass]="task.done ? 'text-success' : 'text-danger' ">Terminado</td>
                }                  
                </tr>
                <tr>
                  <th scope="row">Creado</th>
                  <td>{{task.created_at}}</td>
                </tr>
                <tr>
                    <th scope="row">Actualizado</th>
                    <td>{{task.updated_at}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


